.wrapper main {
    max-width: 46rem;
}

.countItem {
    display: flex;
    margin-top: 4rem ;
    justify-content: space-between;
    font-size: .875rem;
    color: var(--blue);
}

.countItem span {
    background: var(--gray-400);
    color: var(--gray-200);
    margin-left: 0.5rem;
    padding: 0.125rem 0.5rem;
    font-size: .75rem;
    font-weight: 700;
    border-radius: 999px;
}

.addItem {
    display: flex;
    margin-top: -2.5rem;
    height: 3.25rem;
    gap: 1rem;
}

.addItem > input {
    background: var(--gray-500);
    color: var(--gray-100);
    flex: 1;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    line-height: 1.4;
}

.addItem > button[type='submit'] {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    border: none;
    padding: 1rem;
    background: var(--blue-dark);
    color: var(--gray-100);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .3s;
}

.addItem > button[type='submit'] span {
    margin-left: 0.5rem;
}

.addItem > button[type='submit']:hover {
    background: var(--blue);
}

.wrapper main{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    gap: .75rem;
}

.noTasks {
    border-top: 1px solid var(--gray-400);
    align-items: center;
    padding: 4rem 1.5rem;
    line-height: 1.4;
}

.noTasks p {
    margin-top: 1rem;
    color: var(--gray-300);
}

.noTasks strong {
    font-weight: 700;
}